examples/Sample flow.json
[{"id":"636c3cee.d92e9c","type":"tab","label":"Sample flow","disabled":false,"info":""},{"id":"54727335.6eb854","type":"tts","z":"","name":"Welcome message","aws":"f8bc8f90.8462c","text":"Welcome to the Automat Berlin sample flow.\n\nFor Automat Berlin sales press 1, for Automat Berlin engineering press 2.","language":"en-US","voice":"Salli"},{"id":"230469e2.7fd17e","type":"account","z":"","name":"sipgate test account"},{"id":"f8bc8f90.8462c","type":"aws","z":"","name":"AWS test configuration","region":"eu-central-1","bucket":""},{"id":"cee7d560.1bd0e8","type":"webhook","z":"636c3cee.d92e9c","name":"","url":"/sipgate","x":130,"y":140,"wires":[["72381810.88ad2"]]},{"id":"72381810.88ad2","type":"gather","z":"636c3cee.d92e9c","name":"","maxDigits":"1","timeout":"5000","sound":"tts","soundUrl":"","tts":"54727335.6eb854","onAnswer":false,"onHangup":"","outputs":1,"x":310,"y":140,"wires":[["4befc97b.8a4ea8"]]},{"id":"4befc97b.8a4ea8","type":"switch","z":"636c3cee.d92e9c","name":"dtmf","property":"payload.dtmf","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":140,"wires":[["3a7732be.77b186"],["763cb9f4.f8a82"]]},{"id":"3a7732be.77b186","type":"dial","z":"636c3cee.d92e9c","name":"dial sales","target":"number","anonymous":"","callerId":"","numbers":[{"number":""}],"sound":"none","soundUrl":"","tts":"","onAnswer":true,"onHangup":"","outputs":1,"x":640,"y":100,"wires":[["a7d7ab35.ff7d"]]},{"id":"763cb9f4.f8a82","type":"dial","z":"636c3cee.d92e9c","name":"dial engineering","target":"number","anonymous":"","callerId":"","numbers":[{"number":""}],"sound":"none","soundUrl":"","tts":"","onAnswer":true,"onHangup":"","outputs":1,"x":640,"y":180,"wires":[["a7d7ab35.ff7d"]]},{"id":"a7d7ab35.ff7d","type":"delay","z":"636c3cee.d92e9c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":140,"wires":[["482c6c11.93f3c4"]]},{"id":"482c6c11.93f3c4","type":"hangup-call","z":"636c3cee.d92e9c","name":"","account":"230469e2.7fd17e","x":990,"y":140,"wires":[]},{"id":"bd41531b.a440f","type":"comment","z":"636c3cee.d92e9c","name":"Setup instructions","info":"Complete following steps before using sample flow.\n\n * Set AWS credentials and S3 bucket name in TTS (text-to-speech) configuration in `gather` node.\n * Set sipgate credentials in `hangup-call` node.\n * Set phone number in `dial sales` node.\n * Set phone number in `dial engineering` node.\n","x":130,"y":60,"wires":[]}]